extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1 #{pagina} 
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Aliquam elit enim, dictum non nisl eget, tempor ullamcorper enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer aliquet nibh nec dolor dapibus sodales. Aenean eleifend luctus justo, a rutrum urna congue cursus. 

                p hendrerit, eros eget dictum luctus, ex elit varius lorem, eget elementum lorem nulla sed erat. Phasellus dignissim aliquam lobortis. Nam lectus lorem, laoreet eu magna vitae, scelerisque viverra velit. Nunc vel arcu ornare, tempor sem dictum, auctor felis. Donec luctus congue est, vitae mollis purus bibendum facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ult
                p  placerat eu ante in eleifend. Morbi placerat dignissim varius. Sed posuere metus eu sem fringilla semper. Nullam et accumsan enim, id sollicitudin velit. Duis nec vestibulum mauris. In a libero arcu. Sed ornare mi suscipit, laoreet felis id, lacinia libero. Curabitur libero lectus, iaculis a tortor ac, sollicitudin tristique nibh. Proin a scelerisque mauris, at faucibus sapien.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="" ,class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p  luctus, ex elit varius lorem, eget elementum lorem nulla sed erat. Phasellus dignissim aliquam lobortis. Nam lectus lorem, laoreet eu magna vitae, scelerisque viverra velit. Nunc vel arcu ornare, tempor sem dictum, auctor felis. Donec luctus congue est, vi
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="" ,class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p  luctus, ex elit varius lorem, eget elementum lorem nulla sed erat. Phasellus dignissim aliquam lobortis. Nam lectus lorem, laoreet eu magna vitae, scelerisque viverra velit. Nunc vel arcu ornare, tempor sem dictum, auctor felis. Donec luctus congue est, vi
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="" ,class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios  
                    p  luctus, ex elit varius lorem, eget elementum lorem nulla sed erat. Phasellus dignissim aliquam lobortis. Nam lectus lorem, laoreet eu magna vitae, scelerisque viverra velit. Nunc vel arcu ornare, tempor sem dictum, auctor felis. Donec luctus congue est, vi        
